<%- include("partials/head") %>
    <script src="/js/app.js" defer="true"></script>
</head>
<body class="bg-body-secondary">
    <%- include("partials/navbar") %>
    <section class="container">
        <h2 class="h2 m-3 pb-3 border-dark border-bottom text-center">Start new game</h2>
        <div class="container d-grid">
            <div class="row justify-content-center">
                <a class="btn btn-primary btn-lg d-block col-6 m-2" href="/play?difficulty=Easy" role="button">Easy</a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-primary btn-lg d-block col-6 m-2" href="/play?difficulty=Medium" role="button">Medium</a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-primary btn-lg d-block col-6 m-2" href="/play?difficulty=Hard" role="button">Hard</a>
            </div>
        </div>
    </section>
</body>
</html>