<%- include("partials/head") %>
    <script src="/js/app.js" defer="true"></script>
</head>
<body class="bg-body-secondary">
    <%- include("partials/navbar") %>
    <section class="container">
        <h2 class="h2 m-3 text-center">Start new game</h2>
          <div class="card text-center">
            <div class="card-header pb-0">
                <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="difficulty-tab" data-bs-toggle="tab" data-bs-target="#difficulty-tab-pane" type="button" role="tab">By Difficulty</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="id-tab" data-bs-toggle="tab" data-bs-target="#id-tab-pane" type="button" role="tab">By ID</button>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="newGameTabContent">
                    <div class="tab-pane fade show active" id="difficulty-tab-pane" role="tabpanel" tabindex="0">
                        <div class="container d-grid">
                            <div class="row justify-content-center">
                                <a class="btn btn-primary btn-lg d-block col-8 col-lg-4 m-2" href="/play?difficulty=Easy" role="button">Easy</a>
                            </div>
                            <div class="row justify-content-center">
                                <a class="btn btn-primary btn-lg d-block col-8 col-lg-4 m-2" href="/play?difficulty=Medium" role="button">Medium</a>
                            </div>
                            <div class="row justify-content-center">
                                <a class="btn btn-primary btn-lg d-block col-8 col-lg-4 m-2" href="/play?difficulty=Hard" role="button">Hard</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="id-tab-pane" role="tabpanel" tabindex="0">
                        <div class="mb-3">
                            <label for="IdInput" class="form-label">Game ID</label>
                            <input type="text" class="form-control" id="IdInput">
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary" type="submit">Play</button>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
    </section>
</body>
</html>