:root {
    --cell-bg-color-selected: rgb(167, 208, 255);
}

h1 {
    text-align: center;
    margin: 1rem 0px;
}

.difficulty {
    margin: 0;
    text-align: center;
    font-size: 24px;
}
.difficulty span{
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.game {
    margin: 0;
}

.grid {
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    max-height: 70vh;

    margin: 0 auto;

    
    font-size: 6.8vmin;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: inherit;
    transition: 0ms;

    background-color: white;
    color: rgb(0, 73, 209);
}
@media(min-width:650px){
    .grid {
        font-size: 2.5rem;
    }
    .game {
        margin: 0 auto;
    }
}
@media(min-width:1100px){
    .grid {
        font-size: 2.5rem;
    }
    .game {
        margin: 0 20vw;
    }
}

.cell:hover,
.cell.selected {
    transition: 100ms;
    background-color: var(--cell-bg-color-selected);
}

.cell{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}
.l-0{
    border-top: black solid 3px;
}
.l-3,
.l-6 {
    border-top: black solid 2px;
}
.l-8 {
    border-bottom: black solid 3px;
}

.c-0 {
    border-left: black solid 3px;
}
.c-3,
.c-6 {
    border-left: black solid 3px;
}
.c-8 {
    border-right: black solid 3px;
}
.c-0.l-0{
    border-top-left-radius: 15%;
}
.c-8.l-0{
    border-top-right-radius: 15%;
}
.c-0.l-8{
    border-bottom-left-radius: 15%;
}
.c-8.l-8{
    border-bottom-right-radius: 15%;
}

.isClue {
    color: black;
    /*font-weight: bold;*/
}