:root {
    --cell-bg-color-selected: rgb(174, 180, 238);
}

body {
    background-color: rgb(186, 213, 223);
    min-width: min-content;
}

h1 {
    text-align: center;
    margin: 1rem 0px;
}

.difficulty {
    margin: 0;
    text-align: center;
    font-size: 24px;
}
.difficulty span{
    font-weight: bold;
}

.grid {
    min-width: 240px;
    max-height: 70vh;
    max-width: 90%;
    margin: 5px auto 30px;
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    background-color: white;
    font-size: 5vmin;
}

.cell {
    border: 1px solid gray;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: inherit;
    transition: 0ms;

    color: rgb(0, 73, 209);
}

.cell:hover,
.cell.selected {
    transition: 100ms;
    background-color: var(--cell-bg-color-selected);
}

.l-0,
.l-3,
.l-6 {
    border-top: black solid 2px;
}
.l-8 {
    border-bottom: black solid 2px;
}
.c-0,
.c-3,
.c-6 {
    border-left: black solid 3px;
}
.c-8 {
    border-right: black solid 3px;
}

.isClue {
    color: black;
    /*font-weight: bold;*/
}

/* keypad */
.keypad {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-num {
    font-size: 42px;
    color: white;
    width: 4rem;
    height: 4rem;
    margin: 5px;
    background-color: rgb(12, 0, 185);
    border-style: none;
    border-radius: 20%;
}

.btn-0 {
    font-size: 120%;
}

.btn-num:hover {
    transition: 100ms;
    background-color: rgb(69, 166, 196);
    font-weight: bold;
}
